* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.game {
  margin: 0 auto;
  width: 400px;
  font-family: monospace;
}

.title {
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 5px solid rgb(7, 133, 7);
}

/* flexbox for all rows */
.word-grid {
  display: flex;
  flex-direction: column;
  color: rgb(0, 121, 187);
}

/* flexbox for each row */
.word-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.letter-form {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  border: 2px solid black;
  font-size: 40px;
  padding-bottom: 2px;
  text-align: center;
  /* only for testing colors remove afterwards */
  /* color: #dde1e4; */
}

.win-gif {
  width: 100%;
}
